.nav {
  grid-area: nav;
  background-color: #D7FAE7;
  text-align: center;
  display: block;
}

.item {
  color: white;
  margin: 10px auto;
  padding: 5px 0;
}

.item a {
  color: #95ADA5;
  text-decoration: none;
  transition: color .3s;
}

.item a.active {
  color: #5b64f5;
}

.item a:hover {
  color: #5b68ad;
}
