.profileInfoBlock {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 5px;
    border-bottom: 2px solid #dfe2e8;
}

.profileInfoBlock img {

}

.descriptionBlock {
    margin: auto 20px;
}

.contact {
    padding-left: 30px;
}