.profileInfoBlock {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 5px;
    border-bottom: 2px solid #dfe2e8;
}

.profileInfoBlock img {
    width: 200px;
}

.descriptionBlock {
    margin: auto 20px;
}