.header {
  grid-area: header;
  background-color: #D7FAE7;
  border-bottom: 1px solid black;
  padding-top: 15px;
  padding-left: 10px;
}

.header img {
  width: 30px;
}

.authBlock {
  float: right;
  margin-right: 20px;
  color: #95ADA5;
  font-weight: bold;
}

.authBlock a {
  text-decoration: none;
  color: #95ADA5
}