.item {
  width: 500px;
  border: 1px solid #dfe2e8;
  margin-top: 5px;
  padding: 10px;
  background-color: #e6f0ec;
  font-size: 13px;
}

.button button:hover {
  border-color: red;
  background-color: #cfe;
}

.button button {
  width: 120px;
  margin-top: 7px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  font-size: 10px;
  color: #ff7c9c;
  font-weight: bold;
  background-color: #fff;
  transition: border-color .2s, background-color .2s;
}

